<div class="row">
<div class="col-xs-12 col-sm-8 col-md-offset-1 col-md-8 col-lg-8">
<h1><strong>autoEdit's Blog</strong></h1>
<%= link_to "Back", blogs_path, class: "btn btn-link" %>    <%= @post.pubDate %><br>
<hr>
   <h1><%= @post.title %></h1>

   <%= @post.description.html_safe %>
<hr>

</div>
</div>