
<h1>FAQs</h1>

<div id="generated-toc"></div>

<h2>What is autoEdit?</h2>

<p>It’s a digital paper editing software. For those less familiar with it, a paper edit is a script made from a selection of lines from the transcriptions of interviews.</p>


<p>With autoEdit, you can analyse your transcripts and mark them with tags and create a paper edit, &nbsp;that you can then export as an <button type="text" class="btn btn-sm btn-link" data-toggle="popover" title="What is an EDL?" data-content="EDL Stands for Edit Decision List, and is an internchange file format, mostly used to move a project to or from a different system or editing workstation. A bit like XML but contains less information.">EDL</button>. You can then open in the editing software of your choice to reconnect the corresponding video into a sequence, and finish working on your rough-cut assembly.</p>

<p>For the transcriptions, autoEdit, takes <code>.sbv</code> and <code>.srt</code> subtitles files, and the suggested workflow is to use YouTube semi-automated captioning, to get a first draft of the timecoded transcriptions, that you can then proofread. Google/YouTube is very accurate at putting timecodes at the end of sentences, which is one less thing to do.</p>

<h2>How does it work?</h2>

<p><strong>Preparation</strong></p>
<ul>
	<li>get your transcriptions done in <code>.sbv</code> or <code>.srt</code> subtitle file format, for instance using <a href="https://support.google.com/youtube/topic/3014331?hl=en&ref_topic=4355241" target="_blank">YouTube automated captions</a></li>
</ul>

<p><strong>In autoEdit</strong></p>

<ul>
	<li>upload transcripts in autoEdit, with metadata info of corresponding video</li>
	<li>search and filter, drag and drop your selections into a new paper edit</li>
	<li>export as EDL </li>
</ul>
<p><strong>In editing software</strong></p>
<ul>
	<li>open EDL in editing software of choice</li>
	<li>continue editing your sequence</li>
</ul>

<h2>I don’t want to use YouTube captioning - can I still use autoEdit?</h2>

<p>Yes, as long as you can get your transcriptions into <code>.sbv</code> or <code>.srt</code>  files then you are good to go. </p>

<p>A tool we recommend for getting your transcriptions done in  <code>.sbv</code> or <code>.srt</code>  is <a href="http://www.nikse.dk/subtitleedit/" target="_blank">Subtitle Edit</a>.</p>

<h2>Can the transcription only be <code>.sbv</code> or <code>.srt</code> subtitles files?</h2>

<p>Yes, for now, but if you have transcriptions in formats other than <code>.sbv</code> or <code>.srt</code> <a href="mailto:info@autoedit.io?subject=autoEdit%20Subtiles%20File%20Format%20Enquiry
&body=Hello,%0D%0A I have a quesiton about autoEdit subtitles file formats support..">we want to hear from you</a>.</p>

<h2>Which languages are supported?</h2>

<p>If you use Google/YouTube captions, to generate semi-automated transcriptions then the languages supported are: </p>

<p>• English</p>

<p>• Dutch</p>

<p>• French</p>

<p>• German</p>

<p>• Italian</p>

<p>• Japanese</p>

<p>• Korean</p>

<p>• Portuguese</p>

<p>• Russian</p>

<p>• Spanish</p>

<p>See <a href="https://support.google.com/youtube/topic/3014331?hl=en&ref_topic=4355241" target="_blank">Google Automatic captions</a> for more details, and an up to date list of languages.</p>

<p>Having said that, autoEdit itself is language-independent, as long as you can get an <code>.sbv</code>,<code>.srt</code> file of the transcriptions.</p>

<h2>I am working with different languages, is there support for that?</h2>

<p>At the moment there is a work around that can still save you a lot of time. You can use YouTube/Google automated captions to get the transcription in the language you want (if supported, see list, otherwise, there are alternative methods to get your transcriptions done in <code>.sbv</code> or <code>.srt</code> formats, using autoEdit).</p>

<p>Then you can use the <a href="https://translate.google.com/toolkit" target="_blank">google translator toolkit</a>, to translate your <code>.sbv</code>/<code>.srt</code> file into the required language to get a semi automated translation. </p>

<p>The translation file can then be uploaded into autoEdit in <code>.sbv</code>/<code>.srt</code> format. After paper editing, you can then export the EDL and reconnect and the rough cut will be as accurate as the translations you have put in it.</p>

<p>You can then export the rough cut video sequence from your editing software as a video preview for proof checking.</p>

<p>There are ways in which autoEdit could support this, so if this is a feature you would be interested in please do get in touch.</p>


<h2 id="metadata">I am uploading a transcript, how do I get the <code>filename</code>, <code>reel</code> and <code>media start</code> for the camera metadata section? </h2>


<p>We need the <code>filename</code>, <code>reel</code> and <code>Media Start</code> as it appears in the metadata of the video file.</p>

<p>For instance In Final Cut Pro 7</p>
<p>1. Find the clip in the inspector view, top left panel</p>
<p>2. Rigth click the clip in the inspector view, top left panel</p>
<p>3. Choose <code> item proprieties</code> -> <code>logging info</code></p>

<%= image_tag "loggingInfo.png", class: "img-responsive" %>
<p>4. in the <code>logging</code> tab, you'll find the first 3 fields are <code>Name</code>(filename), <code>Reel</code> and <code>Media Start</code></p>
<%= image_tag "fileNameReelNameMediaStart.png", class: "img-responsive" %>

<p>5. The only adjustment to make is that for the filename <code>Name</code> we need it with the <code>.mov</code> extension.</p> 

<p>For instance if I were to take the file <code>Name</code> from the example it would be <code>CC027_01.mov</code> </p>

<p>6. If the <code>Reel</code> name is blank, which could be for a number of reasons, such as working with footage from the Internet, or DSLRs, then in this field you can add a reel name, and it will prompt you to save it to disk, and write the metadata onto the actual file. </p><p>To use autoEdi, your video file needs to have a reel name, otherwise the exported EDL will not be have enough informations on it to be able to reconnect the sequence in the editing software of choie.</p> 
<br>
<p>For any questions: 
<a href="mailto:info@autoedit.io?subject=autoEdit%20Metadata%20Enquiry
&body=Hello,%0D%0A I am trying to upload a transcript in autoEdit and I am having trouble with identifying the metadata..">info@autoedit.io</a></p>



<br><br><br><br><br>

