
        <div class="row">
          
 <center> <h1>autoEdit</h1></center>
  <p><center>"Edit the <bold>text</bold> to edit the <bold>video</bold>"<center>
</div>
 <br>
    <br>
      <br>
<center> <img src="./assets/red-button.png", class="img-responsive img-rounded" ></center>

  <br>
    <br>
      <br>
            <center>          <p><%= link_to 'Sign Up', 'hellowroeld' , class: "btn btn-primary btn-lg"  %></p>
                      <p><%= link_to 'Beta', '#' , class: "btn btn-success disabled btn-xs"  %></p>
            </center> 





